.viewitem-back {
  width: 380px;
  height: 500px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #ABABAB;
  float: left;
  position: relative;
  left: -30px;
  margin-left: 28px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;

  .viewitem-title {
    position: relative;
    top: 20px;
    left: 40px;
    font-size: 25px;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  img {
    margin-top: 50px;
    max-height: 420px;
    max-width: 300px;
    background-color: #ABABAB;
    margin-left: 40px;
  }
  .ratingnum {
    position: relative;
    left: 280px;
    top: -10px;
  }
}
.viewitem-opacity {
  overflow: hidden;
  position: fixed;
  top: -20px;
  left: -170px;
  width: 1720px;
  height: 120%;
  background-color: #ABABAB;
  opacity: 0.5;
  z-index: 1;
}
.inpage {
  position: fixed;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  z-index: 2;
}
