.commentitem-back {
  margin-left: 20px;
  margin-bottom: 10px;

  .commentitem-icon {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #ABABAB;
    float: left;
  }

  .commentitem-user {
    margin-left: 40px;

    .commentitem-username {
      font-size: 13px;
      font-weight: 550;
      width: 365px;
    }

    .commentitem-text{
      font-size: 13px;
      width: 360xpx;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
